.item-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.item-scroll {
    height: 100%;
    overflow-y: scroll;
}

.item.metadata
{
    display: none;
}

.hidden {
    display: none;
}

.filter-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
}

.item-filter {
    width: max-content;
}

.flex-container {
    display: flex;
}