{% extends "base_generic.html" %}

{% block content %}
{% if item_list %}
<div class="container item-container">
    <div class="row item-scroll">
        {% for element in item_list %}
            <div class="col-md-3 mb-3 mt-3">
                <!-- Tag containing the metadata for every item (name, base, rarity)-->
                <item-data class="item-metadata" name="{{ element.name }}" base="{{ element.base }}" rarity="{{ element.rarity }}"></item-data>

                <div class="card h-100">
                    {% load static %}
                    <img src="{% static 'images/placeholder.png' %}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{element.name}}</h5>
                        <p class="card-text">{{element.rarity}} {{element.base}}</p>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div> 
</div>
  
{% endif %}
{% endblock %}